body {
  background-color: #ddd;
}
.container {
  margin: auto;
  max-width: 15%;
}

.clock_ui {
  border: 10px solid #354c64;
  box-shadow: 0 2vw 4vw -1vw #354c64;
  border-radius: 50% !important;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  top: 5rem;
  background: aliceblue;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #354c64;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px -1px black;
}

.hour_hand {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 65px;
  background: #333;
  transform-origin: 50% 72px;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  top: calc(50% - 65px);
  left: calc(50% - 0px);
}

.minute_hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 100px;
  background: #666;
  top: calc(50% - 100px);
  left: calc(50% - 2px);
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 102px;
}

.second_hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 120px;
  background: gold;
  top: calc(50% - 120px);
  left: calc(50% - 1px);
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 120px;
}

span {
  display: inline-block;
  position: absolute;
  color: #333;
  font-size: 22px;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 4;
}

.h12 {
  top: 30px;
  left: 46%;
  margin-left: -9px;
}
.h3 {
  top: 115px;
  right: 30px;
}
.h6 {
  bottom: 30px;
  left: 54%;
  margin-left: -5px;
}
.h9 {
  left: 32px;
  top: 140px;
}

.diallines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  top: 0;
  transform-origin: 50% 135px;
}

.diallines:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 25px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 138px;
}
